.about.text-block
	.container
		h3.item-title 
			span.table-cell.item-title__icon
				img(src="images/title4.png", alt="") 
			span.table-cell О нашем магазине
		.row
			.col-xl-6
				p Интернет зоомагазин товаров для животных "Petfood24.ru" в Санкт-Петербурге. Petfood24.ru всеми силами заботится о вашем питомце. Широкий ассортимент товаров в нашем магазине порадует вас и вашего любимца разнообразным кормом, различными деликатесами, витаминами и игрушками.
				p Заказать корм или другие товары для животных вы можете прямо на сайте, добавив его в корзину и оформив заказ, либо позвонив нам по телефонам (812) 983-65-45, (812) 642-31-72. Интернет зоомагазин Petfood24.ru предлагает корма и товары для собак, товары для кошек, товары для птиц, товары для грызунов, товары для хорьков, товары для лошадей.
			.col-xl-6
				.product-day.hidden-xs
					.row
						.col-xl-4
							.product-day__img
								img(src="images/product-day.png", alt="")
								.product-day__sale -20%
							a(href="#").link-btn.link-btn--product Купить
						.col-xl-8
							h2 Товар дня!
							.product-day__title Royal Canin, bread nature 
							.product-day__subtitle Сухой корм для взрослых собак
							.product-day__price 1290 р
							.product-day__price-today 920 р / кг
							.clock-item
								h4.clock-title До конца акции:
								.clock
		