.brands
	.container
		h3.item-title 
			span.table-cell.item-title__icon
				img(src="images/title2.png", alt="") 
			span.table-cell Популярные бренды
		.brands__content
			.slider-prev.slider-prev--brands.slider-prev--carousel
				i.fa.fa-angle-left
			.slider-next.slider-next--brands.slider-next--carousel
				i.fa.fa-angle-right
			.brands__carousel
				div
					.brands__item.row.no-gutters.align-items-center
						div
							img(src="images/Royal_Canin_logo.svg.png", alt="")
				div
					.brands__item.row.no-gutters.align-items-center
						div
							img(src="images/Royal_Canin_logo.svg.png", alt="")
				div
					.brands__item.row.no-gutters.align-items-center
						div
							img(src="images/Royal_Canin_logo.svg.png", alt="")
				div
					.brands__item.row.no-gutters.align-items-center
						div
							img(src="images/Royal_Canin_logo.svg.png", alt="")
				div
					.brands__item.row.no-gutters.align-items-center
						div
							img(src="images/Royal_Canin_logo.svg.png", alt="")
				div
					.brands__item.row.no-gutters.align-items-center
						div
							img(src="images/Royal_Canin_logo.svg.png", alt="")