.brand-item
	.brand-item__header.row.no-gutters.align-items-center.justify-content-between
		.brand-item__info
			.brand-item__name Royal Canin
			.brand-item__country Россия, Франция
		.brand-item__icon
			img(src="images/Royal_Canin_logo.svg.png", alt="")
	.brand-item__content.text-block
		p Royal Canin - лидер на рынке производства рационов для собак и кошек, благодаря каждодневной исследовательской работе находится в авангарде разработок в области питания для домашних животных.
		p Постоянные инновации Royal Canin формируют на рынке питания для собак и кошек 
		p 
			a(href="#").yellow-link Подробнее