header.header
	.top-panel
		.container
			.row.no-gutters.align-items-center.justify-content-between
				ul.top-menu.hidden-md
					li
						a(href="#") О магазине
					li
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Форум
					li
						a(href="#") Бонусы
					li
						a(href="#") Контакты
				.time.hidden-md 9:00-21:00 пн-пт | 11:00-20:00 сб,вс
				.phone.hidden-md 8 (812) 983-65-45
				.phone.hidden-md 8 (812) 983-65-45
				.profile.visible-md
					a(href="#")
						span.middle.cat-icon
						span.middle.profile__text
							| Ваш
							br
							| Аккаунт
						i.fa.fa-angle-down.middle
				.mobile-search.visible-md
					a(href="#")
						i.fa.fa-search
				.cart.visible-md
					a(href="#")
						i.fa.fa-shopping-cart.middle
						.cart__count.middle 2
						.cart__price.middle 4 924 р.
	.header-center
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.logo
					a(href="#")
						img(src="images/logo.png", alt="")
				.search.hidden-md
					input(type="text" placeholder="Поиск по каталогу...").search__field
					button(type="submit").search__btn
				.profile.hidden-md
					a(href="#")
						span.middle.cat-icon
						span.middle.profile__text
							| Ваш
							br
							| Аккаунт
						i.fa.fa-angle-down.middle
				.cart.hidden-md
					a(href="#")
						i.fa.fa-shopping-cart.middle
						.cart__count.middle 2
						.cart__price.middle 4 924 р.
				.hamburger-box.visible-md
					.hamburger-inner
	.menu.hidden-md
		.container
			ul.menu__item.row.no-gutters.align-items-center.justify-content-between
				li
					a(href="#")
						span.middle.dog-icon
						span.middle Собаки
				li
					a(href="#")
						span.middle.cats-icon
						span.middle Кошки
				li
					a(href="#")
						span.middle.rodents-icon
						span.middle Грызуны
				li
					a(href="#")
						span.middle.birds-icon
						span.middle Птицы
				li
					a(href="#")
						span.middle.fishes-icon
						span.middle Рыбки
				li
					a(href="#")
						span.middle.action-icon
						span.middle Акции
				li
					a(href="#")
						span.middle.sale-icon
						span.middle Распродажа
.mobile-menu#mobile-menu
	.container
		ul.top-menu
			li
				a(href="#") О магазине
			li
				a(href="#") Доставка
			li
				a(href="#") Оплата
			li
				a(href="#") Форум
			li
				a(href="#") Бонусы
			li
				a(href="#") Контакты
		ul.menu__item
				li
					a(href="#")
						span.middle.dog-icon
						span.middle Собаки
				li
					a(href="#")
						span.middle.cats-icon
						span.middle Кошки
				li
					a(href="#")
						span.middle.rodents-icon
						span.middle Грызуны
				li
					a(href="#")
						span.middle.birds-icon
						span.middle Птицы
				li
					a(href="#")
						span.middle.fishes-icon
						span.middle Рыбки
				li
					a(href="#")
						span.middle.action-icon
						span.middle Акции
				li
					a(href="#")
						span.middle.sale-icon
						span.middle Распродажа