.main-screen
	.container
		.row.no-gutters
			.col-xl-3.col-lg-4
				.catalog
					.catalog__item
						.catalog__title
							a(href="#") 
								span.middle.catalog__icon.black-dog
								span.middle Товары для собак
						ul.catalog__menu
							li
								a(href="#") 
									span Холостик корма
									i.fa.fa-angle-right
							li
								a(href="#") 
									span Сухие корма
									i.fa.fa-angle-right
							li
								a(href="#")
									span Все товары
									i.fa.fa-angle-right
					.catalog__item
						.catalog__title
							a(href="#") 
								span.middle.catalog__icon.black-cat
								span.middle Товары для кошек
						ul.catalog__menu
							li
								a(href="#") 
									span Холостик корма
									i.fa.fa-angle-right
							li
								a(href="#") 
									span Сухие корма
									i.fa.fa-angle-right
							li
								a(href="#")
									span Все товары
									i.fa.fa-angle-right
			.col-xl-9.col-lg-8.hidden-xs
				.slider-prev.slider-prev--main
					i.fa.fa-angle-left
				.slider-next.slider-next--main
					i.fa.fa-angle-right
				.slider
					div
						.slider__item(style="background-image: url(images/slider.jpg)")
							.slider__descr.text-block.row.no-gutters.align-items-center
								div
									h2 Создайте комфорт для ваших питомцев
									p
										| Кошачьи подушки набиты натуральной овечей шерстью подарят вашему питомцу мягкие и незабываемые сны
					div
						.slider__item(style="background-image: url(images/slider.jpg)")
							.slider__descr.text-block.row.no-gutters.align-items-center
								div
									h2 Создайте комфорт для ваших питомцев
									p
										| Кошачьи подушки набиты натуральной овечей шерстью подарят вашему питомцу мягкие и незабываемые сны