.news
	.container
		h3.item-title.item-title--left последние новости и акции
		.row.no-gutters.justify-content-between
			.news__content
				.news__item
					.row
						.col-xl-4.col-lg-5.col-md-4
							.news__img.hidden-xs(style="background-image: url(images/news-img.jpg)")
						.col-xl-8.col-lg-7.col-md-8
							.news__descr.text-block
								h3 Самые низкие цены в городе
								p Друзья, наш интернет зоомагазин готов предложить вам самые низкие цены, быструю и качественную доставку по городу Санкт-Петербург. Наш склад насчитывает более 15 000 наименований товара для любимых питомцев. 
								p Так же у нас есть много различных акций, которые вы можете просмотреть в разделе Акции на нашем сайте и купить товары для вашего любимого питомца по выгодной цене.
								a(href="#").link-btn Читать
			.banner.hidden-md
				a(href="#")
					img(src="images/banner.jpg", alt="")