.product-catalog__item
	.product-catalog__title Собакам
	.product-catalog__img.row.no-gutters.align-items-center
		div
			img(src="	http://via.placeholder.com/125x125", alt="")
	ul.product-catalog__list
		li
			a(href="#") Сухие корма
		li
			a(href="#") Консервы
		li
			a(href="#") Витамины, пищевые добавки
		li
			a(href="#") Кости лакомства
	a(href="#").product-catalog__show-more Показать все (821)