.services
	.container
		.row
			.col-lg-3.col-md-6
				.services__item
					.table-cell.services__icon
						img(src="images/serv1.png", alt="")
					.table-cell.services__text
						| Условия доставки нашего магазина
			.col-lg-3.col-md-6
				.services__item
					.table-cell.services__icon
						img(src="images/serv2.png", alt="")
					.table-cell.services__text
						| Скидки и акции для наших клиентов
			.col-lg-3.col-md-6
				.services__item
					.table-cell.services__icon
						img(src="images/serv3.png", alt="")
					.table-cell.services__text
						| Отделения доставки наших товаров
			.col-lg-3.col-md-6
				.services__item
					.table-cell.services__icon
						img(src="images/serv4.png", alt="")
					.table-cell.services__text
						| Подарки для ваших питомцев