extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
			.catalog-2lvl.hidden-md
				.container
					ul.row.no-gutters
						li
							a(href="#").row.no-gutters.align-items-center 
								div Сухой корм
						li
							a(href="#").row.no-gutters.align-items-center 
								div Консервы
						li
							a(href="#").row.no-gutters.align-items-center 
								div Витамины Лакомства
						li
							a(href="#").row.no-gutters.align-items-center 
								div Шампуни Кондиционеры
						li
							a(href="#").row.no-gutters.align-items-center 
								div Наполнители
						li
							a(href="#").row.no-gutters.align-items-center 
								div Ветеринарная аптека
						li
							a(href="#").row.no-gutters.align-items-center 
								div Гигена
						li
							a(href="#").row.no-gutters.align-items-center 
								div Когтеточки Домики
			.container
				.row.no-gutters.justify-content-between
					.sidebar
						.filter-item
							.filter-content.natural-holistic
								| NOW Natural holistic
								span.holistic-icon
									img(src="images/now.png", alt="")
						.filter-item
							.filter-title 
								| Возраст
								i.fa.fa-angle-down.visible-xs
							.filter-content
								.checkbox-item
									input(type="checkbox")#check.checkbox
									label(for="check") 
										| Взрослые (1-6лет) 
										span (12)
								.checkbox-item
									input(type="checkbox")#check2.checkbox
									label(for="check2") 
										| Взрослые (1-6лет) 
										span (12)
								.checkbox-item
									input(type="checkbox")#check3.checkbox
									label(for="check3") 
										| Взрослые (1-6лет) 
										span (12)
						.filter-item
							.filter-title 
								| Возраст
								i.fa.fa-angle-down.visible-xs
							.filter-content
								.checkbox-item
									input(type="checkbox")#check4.checkbox
									label(for="check4") 
										| Взрослые (1-6лет) 
										span (12)
								.checkbox-item
									input(type="checkbox")#check5.checkbox
									label(for="check5") 
										| Взрослые (1-6лет) 
										span (12)
								.checkbox-item
									input(type="checkbox")#check6.checkbox
									label(for="check6") 
										| Взрослые (1-6лет) 
										span (12)
						.filter-item
							.filter-title 
								| Цена
								i.fa.fa-angle-down.visible-xs
							.filter-content
								.range-input.row.no-gutters.align-items-center.justify-content-between
									input(type="text").sliderValue.sliderValue_left
									span.range-delimiter.middle
									input(type="text").sliderValue.sliderValue_right
								#slider-range
					.center-content.center-content--middle
						.slider-small.hidden-md
							.slider-prev.slider-prev--main.slider-prev--inner
								i.fa.fa-angle-left
							.slider-next.slider-next--main.slider-next--inner
								i.fa.fa-angle-right
							.slider
								div
									.slider__item.slider__item--small(style="background-image: url(images/banner2.jpg)")
								div
									.slider__item.slider__item--small(style="background-image: url(images/banner2.jpg)")
						.view-block 293 товара
						.catalog-filter.row.no-gutters.align-items-center.justify-content-between
							.catalog-filter__view
								span.middle Показать по:  
								a(href="#").middle 24  
								span.middle /  
								a(href="#").middle.active 48  
								span.middle /  
								a(href="#").middle 62
							.pagination
								a(href="#").pagination__btn
								ul.pagination__pages
									li
										a(href="#") 1
									li
										a(href="#").current 2
									li
										a(href="#") 3
									li
										a(href="#") 4
									li ...
									li
										a(href="#") 15
								a(href="#").pagination__btn.pagination__btn--next
							.catalog-select
								span.middle Выводить:
								select.select-item
									option значение 1
									option значение 2
						.row.products-list
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
							.col-xl-3.col-lg-4.col-sm-6
								include pug/product-item
						.pagination.pagination--bottom
							a(href="#").pagination__btn
							ul.pagination__pages
								li
									a(href="#") 1
								li
									a(href="#").current 2
								li
									a(href="#") 3
								li
									a(href="#") 4
								li ...
								li
									a(href="#") 15
							a(href="#").pagination__btn.pagination__btn--next

			.container
				.row.no-gutters.justify-content-between
			include pug/seo
	include pug/footer.pug