extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
				.bonus-info.row
					.col-lg-4
						.bonus-info__item
							h3 Купите бонусы
							p Закаждую покупку в интернет-магазине вы получаете бонусы в размере до 5% от суммы заказа
					.col-lg-4
						.bonus-info__item
							h3 проверяйте баланс
							p Бонусы начисляются в течении 7 дней после совершения покупки. Вы можете узнать текущий остаток бонусов в личном кабинете или позвонив в наш call-центр
					.col-lg-4
						.bonus-info__item
							h3 оплачивайте покупки
							p Вы можете использовать бонусы оплачивая ими до 50% от общей суммы интернет-заказа
				h6.bonus-title Для участия в программе достаточно освершить первйы заказа. Бонусные баллые будут привязагы к номеру вашего контеактонго телефона
				.text-block
					p
						| При доставке товара по Санкт-Петербургу сумма заказа, оплачиваемая наличными, должна составлять не менее 749 руб. При доставке по Москве – не менее 999 руб, в другие филиалы - не менее 499 руб.
					p
						| Бонусы Petshop.ru при самовывозе из розничных магазинов не начисляются и не списываются. Если цена товара меньше 50 рублей, бонусы не начисляются. В период проведения акций количество бонусов, начисляемых за покупку, может измениться в зависимости от предоставляемой скидки. С марта 2017 устанавливается ограничение на максимальное количество накопленных Бонусов Petshop.ru ‒ 3 000. При достижении лимита начисление Бонусов Petshop.ru прекращается. И возобновляется, как только сумма на счёте станет меньше 3 000. 
					p
						| Часто задаваемые вопросы:
					p
						| Вопрос: Если я потерял карту, что делать? Ответ: Позвоните нам и сообщите о своей пропаже. Операторы закажут новую карту. Старые бонусы останутся доступными для вашего использования (накопления/списания) даже при условии отсутствия карты.
					p
						| Вопрос: После того, как я воспользовался бонусом, какой должна быть сумма минимального заказа? Повезут ли мне заказ, например, на сумму 300 руб. Ответ: После списания со счета бонусов сумма заказа должна быть не меньше минимальной доставки (749 руб. - для Санкт-Петербурга, 999 руб. - для Москвы, 499 руб. - для филиалов в других городах России).
					p
						| Вопрос: Мне не дали карту. Будут ли мне все равно начисляться бонусы? Ответ: Да, даже при отсутствии карты бонусы будут начисляться, и вы сможете ими воспользоваться. Мы планируем переход на систему, когда только владелец карты Petshop.ru сможет воспользоваться бонусами, но сейчас бонусы доступны каждому клиенту вне зависимости от наличия/отсутствия карты.
						

	include pug/footer.pug