extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
				.delivery
					.delivery__header Доставка
					.info-content
						.table-top.info-content__icon
							img(src="images/delivery.png", alt="")
						.table-top.info-content__text.text-block
							h4 Самовывоз со склада:
							p Адрес: г. Санкт-Петербург, пр. Большевиков, д. 47, к. 1, помещение 20Н  будние дни: с 9:00 до 17:00
							.info-content__block       
								| Самовывоз бесплатный от суммы 600 рублей, 
								br
								| если сумма ниже 600 рублей - доставка в пункт самовывоза 100 рублей.
							p При самовывозе с этого склада предоставляется дополнительная скидка на весь заказ 3%
							h4  Доставка курьером осуществляется:
							ol
								li в пределах города Санкт-Петербург:
									br
									| дневная: вторник - с 10:00 до 16:00 и четверг  - с 10:00 до 16:00.
									br
									| вечерняя: с понедельника по пятницу с 17:30 до 23:00. 
								li по Ленинградской области: 
									br
									| дневная: среда - с 8:00 до 15:00.
							h4 Условия доставки товара
							ul
								li Заказы обрабатываются в течение 24 часов с момента поступления заявки.
								li Наш оператор свяжется с Вами и обсудит удобное для Вас время доставки.
								li При заказе товара в 1 клик действуют все скидки и акции магазина.
							.info-content__block
								| Бесплатная доставка в пределах города Санкт-Петербурга осуществляется при условии заказа на сумму свыше 1000 рублей. 
								ol
									li Если сумма Вашего заказа меньше 1000 рублей, стоимость доставки в пределах Санкт-Петербурга – 300 рублей; 
									li Если сумма Вашего заказа меньше 2000 рублей, стоимость доставки по Ленинградской области – 500 рублей
								| (минимальные суммы заказа смотрите в таблице ниже).
							p ·  Мы производим доставку непосредственно до дверей Вашего дома 
							ol
								li бесплатно без лифта до 5 этажа включительно,
								li если подъем необходим выше 5 этажа (без лифта), каждый этаж подъема платный - 50 рублей этаж (или же вы может осуществить подъем самостоятельно)).
							.map
								img(src="images/map-color.png", alt="")
							
				.delivery
					.delivery__header.delivery__header--payment Оплата
					.info-content
						.info-content
						.table-top.info-content__icon
							img(src="images/oplata.png", alt="")
						.table-top.info-content__text.text-block.info-content__payment
							ul
								li Оплата товара производится наличными курьеру после его непосредственного получения, и обязательной  проверки заказа клиентом. 
								li В соответствии с Постановлением Правительства РФ от 27.09.2007 №612 «Об утверждении Правил продажи товаров дистанционным способом» покупатель вправе вернуть товар надлежащего качества, приобретенный в интернет-магазине, в течение 7 дней. - Возврат и обмен товара надлежащего качества проводится, если он не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется подтверждение покупки (чек). Доставка качественного товара в отдел рекламаций для возврата осуществляется силами покупателя по адресу пр.Большевиков дом 47.
								li На любой приобретенный у нас товар вы получаете кассовый чек, который подтверждает покупку данного товара в нашем магазине. В случае отсутствия Покупателя или его представителя в день доставки по указанному в данных документах адресу, осуществляется повторная платная доставка 300 руб (по городу).
								li В случаях платной парковки, а также платного въезда на территорию офиса, жилого массива, предприятия доставка осуществляется только до места въезда на платную территорию. В случае необходимости въезда на охраняемую территорию покупатель должен обеспечить беспрепятственный въезд автомобиля, заранее позаботиться о пропуске.
								li В случаях платной парковки, а также платного въезда на территорию офиса, жилого массива, предприятия доставка осуществляется только до места въезда на платную территорию. В случае необходимости въезда на охраняемую территорию покупатель должен обеспечить беспрепятственный въезд автомобиля, заранее позаботиться о пропуске.
								li Если при отказе от каких-либо позиций в заказе без уважительных причин (соответствие качеству, наличие данной позиции в заказе) - сумма заказа становится менее минимальной для бесплатной доставки - доставка оплачивается отдельно.

	include pug/footer.pug