extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			include pug/main-screen
			include pug/services
			.deals
				.container
					h3.item-title 
						span.table-cell.item-title__icon
							img(src="images/title1.png", alt="")
						span.table-cell Лучшие предложения
					.row
						.col-lg-3.col-sm-6
							include pug/product-item
						.col-lg-3.col-sm-6
							include pug/product-item
						.col-lg-3.col-sm-6
							include pug/product-item
						.col-lg-3.col-sm-6
							include pug/product-item
			include pug/brands
			.container
				.buttons
					a(href="#").btn.btn-red Новинки
					a(href="#").btn.btn-dark Не забудь купить
				.product-carousel-block
					.slider-prev.slider-prev--product.slider-prev--carousel
						i.fa.fa-angle-left
					.slider-next.slider-next--product.slider-next--carousel
						i.fa.fa-angle-right
					.product-carousel
						div
							include pug/product-item
						div
							include pug/product-item
						div
							include pug/product-item
						div
							include pug/product-item
						div
							include pug/product-item
			include pug/news.pug
			include pug/about.pug
	include pug/footer.pug



 





















					





			

