extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
				.register__info 
						| Если вы уже зарегистрированы, пожалуйста, 
						a(href="#") Авторизуйтесь 
				.register__item
					.modal-header.register-header
						h5 введите контактные данные
					.register__item__content
						.register__form
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label
									span Имя
									span.red-star *
								input(type="text").form-control.form-control--register
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label
									span Телефон
									span.red-star *
								input(type="text").form-control.form-control--register
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label
									span E-mail
									span.red-star *
								input(type="text").form-control.form-control--register
				.register__item
					.modal-header.register-header
						h5 Адресс доставки
					.register__item__content
						.register__form
							.form-group.form-group--register
								.radio-text.middle
									input(type="radio" name="adress")#radio4.radio
									label(for="radio4") Адрес доставки
								.radio-text.middle
									input(type="radio" name="adress")#radio5.radio
									label(for="radio5") Самовывоз
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label.form-label--small
									span Город
									span.red-star *
								.form-right.form-right--big
									select.select-item.select-item--modal.select-item--form
										option г. Москва
										option г. Москва
										option г. Москва, ул. Столичная
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label.form-label--small
									span Улица
									span.red-star *
								.form-right.form-right--big
									.row.no-gutters.align-items-center.justify-content-between
										input(type="text").form-control.form-control--street
										.form-label.form-label--right
											span Дом
											span.red-star *
										input(type="text").form-control.form-control--house
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label.form-label--small
									span Корпус
								.form-right.form-right--big
									.row.no-gutters.align-items-center.justify-content-between
										input(type="text").form-control.form-control--detail
										.form-label.form-label--right
											span Квартира
										input(type="text").form-control.form-control--detail
										.form-label.form-label--right
											span Этаж
										input(type="text").form-control.form-control--detail
							.form-group.form-group--register.row.no-gutters.justify-content-between
								.form-label.form-label--small
									span Время доставки
								.form-right.form-right--big
									select.select-item.select-item--modal.select-item--form
										option Дневная
										option Дневная
										option Дневная
									select.select-item.select-item--modal.select-item--form
										option Среда - с 08:00 до 15:00
										option Среда - с 08:00 до 15:00
										option Среда - с 08:00 до 15:00
				.register__item
					.modal-header.register-header
						h5 выберите способ оплаты
					.register__item__content
						.register__form.register__form--payment
							.profile-payment
								.profile-payment__img
									img(src="images/nal-big.png", alt="")
								.radio-text.middle
									input(type="radio" name="payment")#radio1.radio
									label(for="radio1") Оплата наличными
							.profile-payment
								.profile-payment__img
									img(src="images/visa-big.png", alt="")
								.radio-text.middle
									input(type="radio" name="payment")#radio2.radio
									label(for="radio2") Оплата банковской картой курьеру
							.profile-payment
								.profile-payment__img
									img(src="images/visa-big.png", alt="")
								.radio-text.middle
									input(type="radio" name="payment")#radio3.radio
									label(for="radio3") Оплата банковской картой онлайн
				.order-basket
					.basket
						table.basket-table.basket-table--profile
							thead
								tr
									td(colspan="4") Ваши товары
							tfoot
								tr
									td(colspan="2")
										.b-total-order
											.table-bottom.b-total-text
												| Итого: 
											.table-bottom
												.b-price-today 1 888 р.
										div
											| Общий вес: 
											b 16 кг
										div
											| Кол-во: 
											b 2
									td(colspan="2")
										a(href="#").btn.btn-yellow.b-btn Оформотить заказ
							tbody
								tr
									td 
										.table-top.table-img
											img(src="images/product-day.png", alt="")
										.table-top
											img(src="images/royal-small.png", alt="")
											.b-articul Артикул: 90829
											.b-name Royal Canin Kitten
											.b-category.b-category--profile Сухой корм для кошек с говяжем мясом	
									td 
										| Статус: 
										b в ожидании
									td
										| Количество: 
										b 2 кг
									td
										.b-price-prev 2 000 р.
										.b-price-today 1 888 р.
	include pug/footer.pug