extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
				.text-block.return
					h4 Возврат товара
					p Интернет-магазин Petfood24.ru информирует Вас об условиях, сроках и пунктах возврата товаров. 
					h4 Возврат качественного товара: 
					p В соответствии с п. 4 ст. 26.1. Закона РФ «О защите прав потребителей» от 07.02.1992 N 2300-1 (далее- Закон о защите прав потребителей). Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней. 
					p Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у потребителя документа, подтверждающего факт и условия покупки товара, не лишает его возможности ссылаться на другие доказательства приобретения товара у данного продавца. Качественные товары, не подлежащие обмену и возврату, указаны в перечне, утвержденном постановлением Правительства РФ от 19 января 1998 г. № 55. 
					h4 Возврат и обмен некачественного товара: 
					p Условия обмена и возврата товара ненадлежащего качества регулируются ст. 18- 24 Закона о защите прав потребителей. Под товаром ненадлежащего качества подразумевается товар, который неисправен (наличие дефекта/брака) и не может обеспечить исполнение своих функциональных качеств. 
					p Продавец отвечает за недостатки товара, на который не установлен гарантийный срок, если покупатель докажет, что они возникли до передачи товара ему или по причинам, возникшим до этого момента. 
					p В отношении товара, на который установлен гарантийный срок, Продавец отвечает за недостатки товара, если не докажет, что они возникли после передачи товара покупателю вследствие нарушения им правил использования, хранения или транспортировки товара, действий третьих лиц или непреодолимой силы. 
					p В случае выявления недостатков товара при эксплуатации в течение гарантийного срока, рекомендуем Вам обратиться в Отдел контроля качества Рetshop.ru
					h4 Возврат товара осуществляется четырьмя способами:
					p
						| — вызов курьера Petshop.ru (услуга предоставляется жителям городов, в которые осуществляется доставка курьерами Petshop.ru);
						br
						| — возврат в фирменные розничные магазины Petshop.ru. Возможен только в том случае, если товар приобретался в данном розничном магазине;
						br
						| — возврат в пункт выдачи Petshop.ru;
						br
						| — отправка транспортной компанией ДПД.
					h4 Возврат курьером
					p Услуга доступна для жителей городов, в которые осуществляется доставка курьерами Petshop.ru. Стоимость выезда курьера за возвратом составляет 200 рублей. Исключение составляет случай, когда возврат осуществляется вместе с доставкой товара, при этом итоговая сумма заказа с учетом вычета возвращаемого товара должна быть не менее минимальной суммы заказа для бесплатной доставки.  Если Вы хотите вернуть товар из предыдущей доставки, то необходимо предварительно связаться с нашими операторами, позвонив по указанным на сайте телефонам.
					h4 Возврат товара в  фирменные розничные магазины Petshop.ru
					p Покупатель может самостоятельно вернуть не подошедший товар в фирменный розничный магазин Petshop.ru Возврат некачественного товара производится только после того, как сотрудник отдела контроля качества пригласит клиента в фирменный розничный магазин. Возврат товара в пункт самовывоза (склад) Покупатель может самостоятельно вернуть товар в пункт самовывоза (склад), предварительно связавшись с операторами для выяснения ситуации и создания накладной на возврат товара.
	include pug/footer.pug
