extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
				.vacancies
					.vacancies__list
						h4 Вакансии
						ul.vacancies__list__item
							li
								div
									a(href="#") Продавец-консультант 
									span (ст. м. Международная)
								div от 25000 руб. Санкт-Петербург
							li
								div
									a(href="#") Продавец-консультант 
									span (ст. м. Международная)
								div от 25000 руб. Санкт-Петербург
							li
								div
									a(href="#") Продавец-консультант 
									span (ст. м. Международная)
								div от 25000 руб. Санкт-Петербург
							li
								div
									a(href="#") Продавец-консультант 
									span (ст. м. Международная)
								div от 25000 руб. Санкт-Петербург
							li
								div
									a(href="#") Продавец-консультант 
									span (ст. м. Международная)
								div от 25000 руб. Санкт-Петербург
					.vacancies__info
						.vacancies__info__item
							.vacancies__info__header ветеринарсный врач в санкт-петербурге
							.vacancies__info__content.text-block
								h4 Обязанности:
								ul
									li Консультирование и обслуживание покупателей по вопросам ухода за животными (корма, гигиена, профилактические мероприятия, вет. препараты);
									li Демонстрация товара;
									li Оказание помощи в выборе товара;
									li Работа на кассе;
									li Прием товара. 
								h4 Требования:
								ul
									li Наличие высшего ветеринарного образования;
									li Опыт работы в продажах или сфере услуг;
									li Уверенный пользователь ПК; 
									li Коммуникабельность, ответственность, внимательность.
								h4 Условия:
								ul
									li Официальное оформление согласно ТК РФ;
									li График работы: сменный 2/2 с 9:00-22:00; 
									li Творческий, дружный, молодой коллектив: https://vk.com/rabotapetfood24
								p Телефон отдела персонала: +7 (812) 449-15-68 или ждем ваши резюме на электронную почту: rabota@petshop.ru
						.vacancies__info__item
							.vacancies__info__header ветеринарсный врач в санкт-петербурге
							.vacancies__info__content.text-block
								h4 Обязанности:
								ul
									li Консультирование и обслуживание покупателей по вопросам ухода за животными (корма, гигиена, профилактические мероприятия, вет. препараты);
									li Демонстрация товара;
									li Оказание помощи в выборе товара;
									li Работа на кассе;
									li Прием товара. 
								h4 Требования:
								ul
									li Наличие высшего ветеринарного образования;
									li Опыт работы в продажах или сфере услуг;
									li Уверенный пользователь ПК; 
									li Коммуникабельность, ответственность, внимательность.
								h4 Условия:
								ul
									li Официальное оформление согласно ТК РФ;
									li График работы: сменный 2/2 с 9:00-22:00; 
									li Творческий, дружный, молодой коллектив: https://vk.com/rabotapetfood24
								p Телефон отдела персонала: +7 (812) 449-15-68 или ждем ваши резюме на электронную почту: rabota@petshop.ru
	include pug/footer.pug