extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		.content
			.payment
			.get-call
			.container
				include pug/breadcrumb
				.support.row
					.col-lg-7
						h1.support__title ПИСЬМО ДИРЕКТОРУ
						p.support__text 
							| Уважаемый клиент, Вы можете отправить Ваше пожелание или жалобу напрямую Директору Petshop.ru. Для нас очень важно услышать Ваше мнение о нашей работе. Спасибо!
					.col-lg-5.hidden-md
						img(src="images/dog-write.png", alt="").abs-img
				.register__item.register__item--write
					.register__item__content
						.register__form.support-form
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between.support-form-field
								.form-label
									span Имя
									span.red-star *
								input(type="text").form-control.form-control--register
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between.support-form-field
								.form-label
									span E-mail
									span.red-star *
								input(type="text").form-control.form-control--register
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between.support-form-field
								.form-label
									span Тема письма
									span.red-star *
								input(type="text").form-control.form-control--register
							.form-group.form-group--register.row.no-gutters.justify-content-between
								.form-label
									span Текст письма
								textarea.form-control.form-control--register.textarea-support
							.form-group.form-group--register.row.no-gutters.align-items-center.justify-content-between
								.form-label &nbsp;
								.form-submit-btn
									button(type="submit").btn.btn-yellow Отправить


	include pug/footer.pug