.btn{
	text-align: center;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-size: 18px;
	font-family: $semibold;
	color: #fff;

	+ .btn{
		margin-left: 25px;
	}

	&-red{
		width: 220px;
		background: $red;
	}
	&-dark{
		width: 250px;
		background: $main;
	}
}
.buttons{
	padding: 40px 0;
	border-top: 1px solid #e1e1e3;
}
.btn-radius{
	font-size: 15px;
	display: inline-block;
	text-align: center;
	width: 180px;
	height: 35px;
	line-height: 35px;
	border-radius: 50px;
	color: #fff;
	background: $red;
}