.catalog{
	height: 100%;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;

	&__item{
		height: 50%;
		padding: 20px 30px;

		&:nth-child(2n){
			border-top: 1px solid #f2f2f2;
			background: #f7f7f7;
		}
	}
	&__title{
		font-size: 16px;
		font-family: $semibold;
		margin-bottom: 10px;

		a{
			color: $main;

			&:hover{
				color: $red;
			}
		}
	}
	&__menu{
		font-size: 15px;
		font-family: $myriadsemibold;
		padding-left: 35px;

		li{
			position: relative;

			&:hover{
				a{
					color: $red;
				}
			}
		}

		a{
			color: $main;
			display: block;
			padding: 8px 0;
		}
		.fa{
			position: absolute;
			z-index: 2;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}
.black-dog{
	width: 35px;
	height: 18px;
	background: url(../images/black-dog.png)no-repeat;
}
.black-cat{
	width: 35px;
	height: 15px;
	background: url(../images/black-cat.png)no-repeat;
}