.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  font-size: 14px;
  font-family: $semibold;

  span{
    font-family: $lato;
  }
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #999a9d;
}
.checkbox:checked + label:before {
  background: $main;
}
.checkbox--yellow + label{
  padding-left: 30px;
}
.checkbox--yellow + label:before{
  width: 17px;
  height: 17px;
  top: -4px;
  border-radius: 0;
}
.checkbox--yellow:checked + label:before{
  background: url(../images/check-active.png)no-repeat;
  border-color: transparent;
}
.checkbox--yellow:checked + label{
  color: $red;
}
.checkbox-item + .checkbox-item{
  margin-top: 15px;
}
.sliderValue{
  display: block;
  width: 85px;
  background: #fff;
  height: 30px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 0;
  font-family: $lato;
  font-size: 14px;
}
.range-input{
  margin-bottom: 35px;
}
.range-delimiter{
  width: 12px;
  height: 1px;
  background: #e3e3e3;
}
.select-item{
  margin-left: 15px;
  display: inline-block;
  width: 180px;
  height: 24px;
  outline: 0;
  border: 1px solid #8b8d90;
  font-size: 15px;
  color: $main;
  font-family: $lato;
  padding-left: 15px;
  -webkit-appearance: none;
  line-height: 1em;
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
  background: url(../images/select-arrow.png)no-repeat right;

  &--modal{
    width: 225px;
    margin-left: 0;
    background: url(../images/select-arrow-grey.png)no-repeat right;
    border-color: #98999c;
  }
  &--form{
    width: 100%;
    height: 30px;
  }
}
.form-control{
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: $lato;
  border: 1px solid #98999c;
  outline: 0;

  &--modal{
    width: calc(100% - 120px);
  }
  &--register{
    width: calc(100% - 150px);
  }
  &--small{
    width: 80px;
  }
  &--text{
    resize: none;
    height: 75px;
    padding: 10px;
  }
}
.form-submit-btn{
  width: calc(100% - 150px);
}
.form-label{
  font-size: 14px;
  font-family: $medium;
  width: 115px;

  &--small{
    width: auto !important;
  }
}
.red-star{
  color: #ff0000;
}
.form-group{
  margin-bottom: 20px;

  &--submit{
    text-align: center;
  }
  &--register{
    margin-bottom: 30px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}
.select-full{
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.textarea-support{
  resize: none;
  height: 260px;
  padding-top: 15px;
  font-family: $lato;
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.radio + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
  font-size: 14px;
  font-family: $semibold;

  span{
    font-family: $lato;
  }
}
.radio + label:before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #888888;
}
.radio:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $red;
  left: 4px;
  top: -8px;
}
.form-control--small.middle{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-radio__item {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.profile-radio__item + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: 14px;
  font-family: $semibold;

  span{
    font-family: $lato;
  }
}
.profile-radio__item + label:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #888888;
}
.profile-radio__item:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $red;
  left: 6px;
  top: 0;
}
.profile-radio + .profile-radio{
  margin-left: 40px;
}