@media(max-width: 1600px){
	.footer:after {
    right: -62px;
    top: -244px;
    transform: scale(0.7);
	}
}
@media(max-width: 1550px){
	.footer{
		&:before{
			content: none;
		}
		&:after{
			content: none;
		}
	}
	.payment{
		left: 0;
		transform: rotate(180deg);
		z-index: 4;
	}
	.get-call{
		left: 0;
		transform: rotate(180deg);
		z-index: 4;
	}
}
@media(max-width: 1399px){
	.slider-prev--carousel{
		left: 0;
	}
	.slider-next--carousel{
		right: 0;
	}
}
@media(max-width: 1199px){
	.top-menu li + li{
		margin-left: 15px;
	}
	.btn-yellow{
		width: 225px;
	}
	.btn-black{
		width: 175px;
	}
	.phone{
		font-size: 16px;
	}
	.bonus-info:before{
		content: none;
	}
	.bonus-info__item{
		box-shadow: none;
	}
	.payment{
		display: none;
	}
	.get-call{
		display: none;
	}
	.menu__item li:after{
		right: -22px;
	}
	.catalog-2lvl ul a{
		font-size: 12px;
	}
	.slider__item{
		height: 360px;
	}
	.slider__item--small{
		height: 200px;
	}
	.view-block{
		text-align: center;
		margin-bottom: 20px;
	}
	.catalog-filter > div{
		width: 100%;
		text-align: center;

		+ div{
			margin-top: 20px;
		}
	}
	.services__item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.link-btn{
		margin-top: 20px;
	}
	.brand-select__name{
		font-size: 18px;
	}
}

@media(min-width: 992px){
	.visible-md{
		display: none;
	}
}
@media(max-width: 991px){
	.hidden-md{
		display: none;
	}
	.btn-brand-right{
		text-align: center;
		padding-left: 0;
	}
	.btn-brand-left{
		padding-right: 0;
		text-align: center;
	}
	.brand-select__item{
		margin: 10px 0;
	}
	.header{
		border-bottom: 1px solid #e1e1e3;
	}
	.catalog{
		border: 1px solid #f2f2f2;
	}
	.menu__item li:after{
		content: none;
	}
	.card-right{
		margin-top: 30px;
	}
	.top-menu a{
		color: #fff;
	}
	.top-menu{
		font-size: 15px;
	}
	.top-menu li{
		display: block;

		+ li{
			margin-left: 0;
			margin-top: 10px;
		}
	}
	.menu__item{
		margin-top: 20px;
	}
	.menu__item a{
		padding: 10px 0;
		text-transform: none;
	}
	.news__content{
		width: 100%;
	}
	.header-center{
		padding: 15px 0;
	}
	.footer__item{
		max-width: inherit;
		width: 100%;
		text-align: center;

		+ .footer__item{
			margin-top: 40px;
		}
	}
	h4{
		margin-bottom: 10px;
	}
	.footer__contacts{
		margin-bottom: 30px;
	}
	.footer-top{
		padding: 40px 0;
	}
	.services__item{
		margin: 10px 0;
	}
	.deals .product-item{
		margin: 15px 0;
	}
	.brands__content,
	.product-carousel-block{
		padding-left: 50px;
		padding-right: 50px;
	}
	.slider-prev--carousel{
		left: 0;
	}
	.slider-next--carousel{
		right: 0;
	}
	.footer-center{
		text-align: center;
	}
	.paypal{
		width: 100%;
		margin-bottom: 30px;
	}
	.footer__form{
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
	}
	.subscribe-form{
		margin: auto;
	}
	.footer__social{
		width: 100%;
	}
}
@media(min-width: 768px){
	.visible-xs{
		display: none;
	}
}
@media(max-width: 767px){
	.hidden-xs{
		display: none;
	}
	.filter-title{
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.bonus-info h3{
		font-size: 20px;
	}
	.bonus-info{
		font-size: 16px;
	}
	.filter-content{
		display: none;
	}
	.section-active{
		display: block;
	}
	.filter-title{
		cursor: pointer;
		border-bottom: 1px solid #fff;
	}
	.news__content{
		max-height: inherit;
		padding: 15px;
	}
	.sidebar{
		width: 100%;
		margin-bottom: 30px;
	}
	.sidebar__menu li:after{
		width: calc(100% - 55px);
		transform: translate(-50%, 0);
		margin-left: 0;
	}
	.center-content{
		width: 100%;
	}
	.news__descr{
		padding-top: 0;
	}
	.item-title--left{
		padding-left: 0;
	}
	.product-name{
		font-size: 17px;
	}
}
@media(max-width: 575px){
	.buttons{
		text-align: center;

		.btn{
			width: 280px;
			margin: auto;
			display: block;
		}
	}
	.brand-item{
		padding: 15px;
	}
	.brand-title{
		font-size: 18px;
	}
	.brand-item__header{
		> div{
			width: 100%;

			+ div{
				margin: 15px 0;
			}
		}
	}
	.brand-select{
		margin-top: 20px;
		padding-top: 20px;
	}
	.brand-header__text{
		font-size: 16px;
	}
	.btn-brand-right{
		margin-top: 15px;
	}
	.modal-footer,
	.modal-services{
		padding: 20px 15px;
	}
	.modal-services{
		text-align: center;
	}
	.modal-footer{
		text-align: center;
	}
	.register__form{
		width: 100%;
	}
	.register-header{
		padding-left: 15px;
		padding-right: 15px;
	}
	.register__info{
		padding: 20px 15px;
		font-size: 16px;
	}
	.register__item--submit{
		padding-left: 0;
		text-align: center;
	}
	.form-control--register{
		width: calc(100% - 100px);
	}
	.modal-header h5{
		font-size: 14px;
	}
	.register__form .form-label{
		width: 100px;
		font-size: 14px;
	}
	.btn-yellow--modal{
		width: 100%;
		margin-left: 0 !important; 
	}
	.register__item__content{
		padding: 20px 15px;
	}
	.btn-black--modal{
		width: 100%;
	}
	.modal-footer__checkbox{
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-services__text{
  	margin-bottom: 20px;
  }
	.modal-wrapper{
		padding: 20px 15px;
	}
	.product-name{
		font-size: 16px;
	}
	.card__info__item{
		padding: 15px;
	}
	.card__btns .btn{
		display: block;
		margin: auto;
	}
	.pagination__pages li{
		margin-left: 2px;
		margin-right: 2px;
	}
	.filter-content,
	.card-text__title{
		padding: 15px;
	}
	.scroll-wrapper > .scroll-content.text-scrollbar{
		padding-left: 15px;
		padding-right: 15px;
	}
	.card__info__item > div:last-child{
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	.card__info__top{
		display: inline-block;
	}
	.product-catalog > div:last-child .product-catalog__item{
		border-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	.btn + .btn{
		margin-top: 20px;
	}
	.sidebar__content{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.item-title{
		font-size: 18px;
		margin-bottom: 20px;
		padding-top: 20px;
	}
	.text-block{
		font-size: 14px;
	}
	.text-block p{
		margin-top: 10px;
	}
	.subscribe-form{
		width: 275px;
	}
	h3{
		font-size: 18px;
		line-height: 1.2;
	}
	.slider-next--carousel,
	.slider-prev--carousel{
		display: none !important;
	}
	.brands__content,
	.product-carousel-block{
		padding-left: 0;
		padding-right: 0;
	}
	.deals{
		padding: 15px 0;
	}
	.btn{
		font-size: 16px;
	}
	h4{
		font-size: 16px;
	}
	.catalog__item{
		padding: 15px;
	}
	.logo{
		width: 200px;
	}
	.mobile-menu{
		top: 134px;
	}
}