.product-item{
	border: 1px solid #f2f2f2;
}
.product-img{
	height: 210px;

	> div{
		width: 100%;
		text-align: center;
	}
}
.product-name{
	text-align: center;
	font-size: 18px;
	font-family: $bold;
	padding-left: 25px;
	padding-right: 25px;
	height: 70px;
	overflow: hidden;
	margin-bottom: 20px;

	a{
		color: $main;

		&:hover{
			color: $red;
		}
	}
}
.product-prices__item{
	padding: 10px 25px;
	border-bottom: 1px solid #f2f2f2;
	font-size: 14px;

	&:last-child{
		border-bottom: 0;
	}
}
.product-sale{
	color: $red;
}
.product-prev-price{
	text-decoration: line-through;
	font-size: 10px;
	text-align: right;
}
.product-today-price{
	color: $red;
	font-family: $bold;
	text-align: right;
}
.product-buy{
	i{
		color: $red;
		font-size: 20px;
	}
}
.product-carousel{
	margin-bottom: 40px;
}
.product-carousel-block{
	position: relative;
}
.product-day__img{
	position: relative;
}
.product-day{
	border: 1px solid #f3f3f3;
	padding: 25px;
	padding-top: 35px;
}
.product-day__sale{
	width: 76px;
	height: 59px;
	background: url(../images/product-sale.png)no-repeat;
	line-height: 59px;
	text-align: center;
	color: #fff;
	right: 10px;
	top: -10px;
	font-size: 18px;
	font-family: $black;
	position: absolute;
	z-index: 2;
}
.product-day__title{
	font-size: 22px;
	font-family: $medium;
	color: $red;
}
.product-day h2{
	font-family: $bold;
	margin-bottom: 20px;
}
.product-day__subtitle{
	font-size: 18px;
	margin-bottom: 30px;
}
.product-day__price{
	font-size: 18px;
	position: relative;
	display: inline-block;

	&:before{
		content: "";
		display: block;
		position: absolute;
		z-index: 2;
		width: 100%;
		top: 45%;
		transform: rotate(-10deg);
		height: 2px;
		background: $main;
	}
}
.product-day__price-today{
	font-size: 24px;
	font-family: $bold;
	color: $red;
	padding-left: 25px;
}
.product-catalog{

	&__item{
		border-bottom: 1px solid #e1e1e3;
		padding-bottom: 30px;
		margin-bottom: 15px;
	}
	&__title{
		color: $red;
		font-family: $medium;
		padding: 10px 5px;
		border-bottom: 1px solid #e1e1e3;
	}
	&__img{
		height: 180px;
		text-align: center;

		> div{
			width: 100%;
		}
	}
	&__list{
		font-size: 13px;

		li{
			margin-bottom: 10px;
		}

		a{
			color: $main;

			&:hover{
				color: $red;
			}
		}
	}
	&__show-more{
		font-size: 14px;
		color: $red;
		border-bottom: 1px solid $red;
	}
}
.products-list{
	margin-left: -7px;
	margin-right: -7px;

	.product-prices__item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.product-name{
		padding-left: 10px;
		padding-right: 10px;
	}

	> div{
		padding-left: 7px;
		padding-right: 7px;
		margin-bottom: 14px;
	}
}
.products-list--brand{
	margin-bottom: 30px;
}

.category-item{
	text-align: center;
	border: 1px solid #f2f2f2;
	padding: 20px 15px;
	margin: 10px 0;

	&__name{
		text-transform: uppercase;
		font-family: $semibold;
		height: 45px;
		overflow: hidden;
		color: $main;
	}
	&__img{
		height: 180px;

		img{
			max-height: 180px;
		}
	}
	&__link{
		color: $red;
		font-family: $bold;
	}
}
.category-info{
	padding-top: 60px;
}