.slider{
	position: relative;
	
	&__item{
		height: 450px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
	}
	&__descr{
		height: 100%;
		padding: 10px 40px;
		max-width: 485px;
	}
}
.slider__item--small{
	height: 200px;
}
.slider-small{
	position: relative;
}