b,
strong{
	font-family: $bold;
}
i{
	font-style: italic;
}
.text-block{
	line-height: 1.3;

	p{
		margin-top: 20px;
	}
	ul{
		margin-bottom: 20px;

		li{
			position: relative;
			padding-left: 15px;

			&:before{
				content: "";
				position: absolute;
				z-index: 2;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background: $main;
				top: 10px;
				left: 0;
			}
		}
	}
}
.about{
	p{
		&:first-child{
			margin-top: 0;
		}
		
	}
}
.top{
	display: inline-block;
	vertical-align: top;
}
h2{
	font-size: 28px;
	font-family: $black;
	line-height: 1.3;
	text-transform: uppercase;
}
h3{
	font-size: 22px;
	font-family: $bold;
}
h4{
	font-size: 18px;
	font-family: $bold;
	margin-bottom: 25px;
}
.footer-center__title{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}
.item-title{
	font-size: 22px;
	font-family: $bold;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 35px;
	line-height: 1.2;

	&--left{
		text-align: left;
		padding-left: 40px;
	}
}

.text-block{
	line-height: 1.5;
}	

.link-btn{
	width: 135px;
	height: 35px;
	border-radius: 50px;
	background: $red;
	display: inline-block;
	color: #fff;
	line-height: 35px;
	font-size: 15px;
	text-align: center;
	margin-top: 70px;
}
.link-btn--product{
	margin-top: 30px;
}

.item-title__icon{
	width: 35px;
}
.clock-title{
	margin-bottom: 10px;
	font-family: $medium;
}
.seo-text{
	margin-top: 55px;
	
	&__content{
		padding-top: 30px;
		border-top: 1px solid #e1e1e1;
	}
}
.yellow-link{
	color: $red;
}