// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$main: #3e4146;
$red: #fe900f;

// FONTS
$lato: 'Lato-Regular';
$medium: 'Lato-Medium';
$semibold: 'Lato-Semibold';
$italic: 'Lato-Italic';
$bold: 'Lato-Bold';
$black: 'Lato-Black';
$myriad: 'MyriadPro';
$myriadsemibold: 'MyriadProSemibold';
